html {
}

/* code {
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
}

pre code {
  overflow: auto;
  padding: 1rem;
  font-size: 0.85rem;
  line-height: 1.42;
} */

.social-links {
  margin-top: 64px;

  a {
    margin-right: 12px;

    svg {
      color: #aaa;
    }

    &:hover svg {
      color: #666;
    }
  }
}

@import url("prism.css");
@import url("timeline.scss");
